/* Bottone per inserire annunci */
#btn-create {
    text-align: center;
    display: flex;
    margin: auto; 
} 

#btn-one:hover{
    background-color: lime; 
}

/* Testi delle flip card appartenenti alle categorie popolari */
.text-crypto {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #09baf0, 0 0 30px #06ceec, 0 0 40px #0ae5f5, 0 0 55px #0ae7ef, 0 0 75px #07dfef, 2px 2px 2px rgba(206,89,55,0);
    color: #09C8CB;
}

.text-nft {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ebd008, 0 0 30px #e2df09, 0 0 40px #f1ee08, 0 0 55px #ebd80b, 0 0 75px #e0c604, 2px 2px 2px rgba(206,89,55,0);
    color: #eea60a;
}

.text-software {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #d6e0ec, 0 0 30px #eaf1f3, 0 0 40px #dce2e2, 0 0 55px #d7e6e6, 0 0 75px #e8f0f1, 2px 2px 2px rgba(206,89,55,0);
    color: #3960d4;
}

/* Bottone + Icona Check per diventare revisore dalla sezione Lavora con noi */
#btn-revisor {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    border: 0px solid #379;
    border-radius: 8px;
    padding: 9px 15px 6px 15px;
    font-style: normal;
    font-size: initial;
    font-weight: 900;
    box-shadow: inset 0px 1px 3px rgba(255, 255, 255, .4);
}

#btn-revisor:hover {
    background-color: gold;
    color: black;
}

#icon-check {
    font-size: 1rem;
    border: 0px solid transparent;
    border-radius: 100px;
    border-width: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
    position: static;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4), inset 0px -1px 0px rgba(255, 255, 255, .5);
}

/* Header card della sezione lavora con noi */
.card-headerWork {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-size: 2rem; 
}
/* #btn-announcementShow {
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
} */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
/* Background Video */
.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
    video {
     width: 100%;
     height: 100%;
     object-fit: cover;
    }
/* !Background Video */

/* Glassmorphism */
.glassBg {
    padding: 2%;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.glassMenu {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.603);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.glassCard {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.426);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.glassInfo {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.426);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    word-wrap: break-word;
}
/* !Glassmorphism */

/* flipCard */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}
.flip-card-front {
    background-image: linear-gradient(45deg, #6f04d9, #d9048e);
}
.flip-card-front img {
    width: 260px;
    height: 230px;
    margin-top: 1rem;
}
.flip-card-back {
    background-image: linear-gradient(315deg, #6f04d9, #8a045c);
    color: #ffffff;
    transform: rotateY(180deg);
}
.flip-card-back img {
    width: 250px;
    height: 175px;
    margin-top: 1rem;
}
.flip-card-back h3 {    
    margin-bottom: 0.3rem;
}
.flip-card-back h1 {
    margin: 0;
}
/* !flipCard */

/* Category Cards */

/* !Category Card */

/* CAROSELLO */
  .swiper {
    width: 300px;
    height: 300px;
    position: static;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 13px;
  }
  .img-carosello{
    width: 100%;
    height: 100%;
  }
/* !CAROSELLO */

#imageCard{
    width: 100%;
    border: 0px;
    border-radius: 12px;
}


#cardBody{
    word-wrap: break-word;
    opacity: 2;
}

.carousel-image{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* Glassmorphism card effect */

.card-text{
    font-weight: 900;
    font-size: 30px;
}

.buttonCard{
    margin-top: 30px;
}


.imgLoghi{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(99, 96, 96);
    padding: 1px;
}

.card-header {
    letter-spacing: 10px;
    font-size: 2rem;
}

/* Card articoli di recente (Immagine segnaposto) */
.imgAnnouncement {
    width: 100%;
    border: 0px;
    border-radius: 12px;
}


.card-category{
    width: 11.3rem;
}


.glassCardCategory {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.426);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.img-size{
    width: 200px;
}

.home {
    margin-top: 13px;
}

/* Immagine della sezione lavora con noi */
@media screen and (min-width: 350px) {
    .img-work {
        font-size: 100%;
        width: 380px;
        display: block;
        margin: auto;
    }
}